services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ./qbittorrent:/config
      - ${STORAGE_PATH}:/mediarr
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
