services:
  bazarr:
    image: ghcr.io/hotio/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ./bazarr:/config
      - ${STORAGE_PATH}/media/movies:/media/movies
      - ${STORAGE_PATH}/media/tv:/media/tv
    ports:
      - 6767:6767
